body {
	margin: 0px;
	color: #5F5F68;
	background: url("images/background2.png") no-repeat top fixed;
	background-size: 100%;
	background-position-y: -220px;
	background-repeat: no-repeat;
	background-color: #F7F4ED;
}
header {
	display: flex;
	justify-content: space-between;
	color: #5F5F68;
	margin: 10px 80px;
}
#logo {
	margin-top: 25px;
}
#nav {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	width: 480px;
}
a {
	text-decoration: none;
	color: #5F5F68;
}
a#tab-1:hover {
    color:#9B6042;
}
a#tab-2:hover {
    color:#3CA08D;
}
a#tab-3:hover {
    color:#BF7C81;
}
a#tab-4:hover {
    color:#E4A883;
}
a#tab-5:hover {
    color:#E4BB5E;
}
a#tab-6:hover {
    color:#3CA08D;
}
h3 {
	font-family: Neighbor;
	font-weight: lighter;
	font-style: normal;
	font-size: 12px; 
}
li {
	font-family: Neighbor;
	list-style: none;
	text-decoration: none;
	margin: 25px;
}
#section1 {
	margin-top: 150px;
}
h1 {
	text-align: center;
	font-family: "dejanire-headline", serif;
	font-weight: normal;
	font-size: 50px;
}
#section2 {
	margin-top: 200px;
}
#section3 {
	margin-top: -55px;
	background-color: white;
}
#div2 {
	padding: 200px 80px;
	display: flex;
	justify-content: center;
}
hr { 
	transform: rotate(25deg);
	height: 100px;
	border: solid .05px #E4BB5E;
	margin: 0px ;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
#box {
	margin-top: 15px;
	padding: 50px;
	justify-content: center;
	text-align: center;
}
h2 {
	font-family: Dejanire Headline;
	font-style: italic;
	font-weight: 500;
	color: #E4BB5E;
}
#section4 {
	margin-top: -55px;
	background-color: white;
	text-align: center;
}
#div3 {
	font-family: Dejanire Headline;
	font-style: italic;
}
#section5 {
	background-color: white;
	margin-top: 200px;
	margin-left: 350px;
}
#allcups1 {
	display: flex;
	flex-direction: row;
}
#allcups2 {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
}
#cupsplusname {
	align-items: center;
	margin-right: 80px;
}
#name {
	margin-top: 40px;
	margin-left: -50px;
	font-family: Bell MT;
	font-style: italic;
}
#section6 {
	background-color: white;
	margin-top: 100px;
	padding: 100px;
	text-align: left;
	margin-right: 200px;
	margin-left: 200px;
}
li {
	font-family: Bell MT;
}
footer {
	margin: 0px;
	background-color: #F8F3E7;
}
#content {
	display: flex;
	align-items: center;
	justify-content: center;
}
h6 {
	font-family: Dejanire Headline;
	font-weight: normal;
}
#tea {
	font-family:Neighbor;
}
#afternoontea {
	margin-right: 20px;
}
#icons {
	text-align: left;
	display: flex;
}
#icon {
	padding: 2px;
}